/*구글웹폰트 가져다쓰기*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.jeans_root{
  position: relative;
  background-color: white;
  width: auto;
}

.jeans_header{
  margin: 0px auto;
  width: 1200px;
  height: 60px;
  background-color: #92CEF4;
  color : white;
  display: grid;
  grid-template-columns: 2% 3% 19% 23.5% 8% 23%  15% 1% 4% 1.5% ;
  align-items: center;
  padding-top: 0%;
}
.search_logo{
  margin-top: 5px;
}

.my_info{

  text-align: right;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.user_id{
  line-height: 40px;
}

.search_text{
  border:none;
  width: 200px;
  height: 20px;
  line-height: 40px;
}

.look_write{
  margin-top: 100px;
  margin-left: 200px;
  font-family: 'Anton', sans-serif;
  font-size: large;
}

.search_input{
  margin-top: 15px;
}

/*a태그 링크 밑줄없애기 css*/
a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: darkblue; text-decoration: none;}



