.body_root{
  font-size: 16px;
}
input{
  padding: 6px 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-sizing: border-box;
  resize: none;
  font-size: 14px;

}


.title{
  font-size: 20px;
  margin-left: -20px;
}

.name{
  margin-top: 10px;
  margin-left: -20px;
}
.body_look{
  display: grid;
  width: 1300px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: 20px 20px 400px 100px 30px;
  grid-template-columns: 40px 50px 1000px;
  row-gap: 10px;

  background-color: rgb(224, 224, 224);
}

.my_img{

  margin-top: 10px;
  margin-left: 10px;
  grid-row: 1/3;
  grid-column: 1/3;
}

.look_img{
  grid-row: 3/4;
  grid-column: 1/4;
}

.look_img_in{

  text-align: center;
  margin : 0 auto;
}

.look_img_file{
  float: center;
  height : 400px;
  width : 300px;
  line-height: 400px;
}

.look_textarea_space{
  grid-row: 4/5;
  grid-column: 1/4;
}


.look_textarea{
  width: 1000px;
  height: 100px;
  resize: none;
  margin-left: 50px;
  margin-right: 50px;
  border: none;
  font-family: Georgia ;
  font-size: x-large ;
}

.like{
  margin-left: 20px;
}

.heart_img{
  margin-top: 10px;
  height :30px;
  width: 30px;
}

.like_number{
  margin-top: 10px;
  line-height: 30px;
  margin-left: 12px;
}


.look_tag{
  margin-top: 10px;
  text-align: right;
  margin-right: 10px;
}


.look_comment{
  margin-top: 10px;
  display: grid;
  width: 1100px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: 40px 80px 30px;
  grid-template-columns: 40px 50px 1000px;
  row-gap: 10px;
  background-color: rgb(224, 224, 224);
}

.other_people_img{
  margin-left: 10px;
  margin-top: 10px;
  grid-row: 1/2;
  grid-column: 1/3;
}

.other_people_name{
  margin-left: -10px;
  margin-top: 10px;
  line-height: 45px;
}

.comment_textarea_space{
  margin-top: 10px;
  grid-column: 1/4;
}

.comment_textarea{

  width: 1000px;
  height: 80px;
  resize: none;
  margin-left: 50px;
  margin-right: 50px;
  border: none;
}



.comment_date{
  margin-top: 10px;
  grid-column: 1/4;
  text-align: right;
}
