/*구글웹폰트 가져다쓰기*/
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

.body_root{
  font-size: 16px;
}

input{
  padding: 6px 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-sizing: border-box;
  resize: none;
  font-size: 14px;

}

.title{
  font-weight: bold;   /*룩상세보기 타이틀 폰트 굵게함추가 <오경택>*/
  font-size: 20px;
  margin-left: -20px;
}

.name{
  margin-top: 10px;
  margin-left: -20px;
}

.write_date{
  font-weight: bold;   /*룩상세보기 작성날짜  폰트 굵게함추가 <오경택>*/
  margin-top: 10px;
  padding-right:  10px;
  text-align: right;
}

.body_look{
  display: grid;
  width: 1100px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: 20px 20px 400px 100px 30px;
  grid-template-columns: 90px 410px 600px;
  row-gap: 10px;

  background-color: rgb(224, 224, 224);
}

.my_img{

  margin-top: 10px;
  margin-left: 10px;
  grid-row: 1/3;
}

.look_img_container{
  grid-row: 3/4;
  grid-column: 1/4;
}

    .look_img_viewport{
      height : 400px;
      width : 300px;
      text-align: center;
      margin : 0 auto 0 auto;
      position: relative;
      z-index: 5;
      overflow-x: hidden;
      min-height: 100%;
      touch-action: pan-y;
      user-select: none;
      -webkit-user-drag: none;

    }
        .look_slide_button{
          display: block;
          position: absolute;
          z-index: 6;
          top: 0;
          bottom: 41px;
          width: 40px;
          box-sizing: border-box;
          padding-top: 44px;
          overflow: visible;
          border: none;
          border-radius: 0;
          background: none;
        }
        .look_slide_button_icon{
          display: inline-block;
          background-repeat: no-repeat;
          width: 25px;
          height: 45px;
          margin: 0 auto;
        }

            .look_flick_camera{
              width: 100%;
              height: 100%;
              will-change: transform;
              transform: translate3d(0px, 0px, 0px);
            }

                .flick_panel{
                  width: 300px;
                  height: 400px;
                  display: table;
                  float: left;
                  margin: 0;
                  padding: 0;
                }

                .flick_panel > img
                {
                  height : 100%;
                  width : 100%;
                  display: table-cell;
                  font-weight: bold;
                  text-align: center;
                  vertical-align: middle;
                }

                    .flick_panel.s1{

                    }
                    .flick_panel.s2{

                    }
                    .flick_panel.s3{

                    }
                    .flick_panel.s4{

                    }
                    .flick_panel.s5{

                    }
                    .flick_panel.s6{

                    }
                    .flick_panel.s7{

                    }


.delete{
  text-align: right;
  margin-right: 10px;
  margin-top: 5px;
}

.look_img_in{

  text-align: center;
  margin : 0 auto;
}

.look_img_file{
  float: center;
  height : 400px;
  width : 300px;
  line-height: 400px;
}

.look_textarea_space{
  grid-row: 4/5;
  grid-column: 1/4;
}

.look_textarea{
  width: 1000px;
  height: 100px;
  resize: none;
  margin-left: 50px;
  margin-right: 50px;
  border: none;
}

.like{
  display: flex;
}

.heart_img{
  margin-left: 10px;
  margin-top: 10px;
  height :30px;
  width: 30px;
}

.like_number{
  margin-top: 10px;
  line-height: 30px;
  margin-left: 12px;
}

.views{
  font-family: Impact;
  display: flex;
  text-align: right;
  line-height: 50px;
  overflow: visible;
}

.view_icon{
  margin-left: 40px;
  margin-top: 13px;
}

.look_tag{
  font-weight: bold;   /*룩상세보기 태그 폰트 굵게함추가 <오경택>*/
  margin-top: 10px;
  text-align: right;
  margin-right: 10px;
}


.look_comment{
  margin-top: 10px;
  display: grid;
  width: 1100px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: 40px 80px 30px;
  grid-template-columns: 70px 50px 980px;
  row-gap: 10px;
  background-color: rgb(224, 224, 224);
}

.other_people_img{
  margin-left: 10px;
  margin-top: 10px;
  grid-row: 1/2;
}

.other_people_name{
  margin-top: 10px;
  line-height: 45px;
}

.right_etc{
  text-align: right;
}

.right_etc img{
  padding-top: 20px;
  padding-right: 10px;
}

.comment_textarea_space{
  margin-top: 10px;
  grid-column: 1/4;
}

.comment_textarea{

  width: 1000px;
  height: 80px;
  resize: none;
  margin-left: 50px;
  margin-right: 50px;
  border: none;
}

.comment_date{
  padding-right: 10px;
  margin-top: 10px;
  grid-column: 1/4;
  text-align: right;
}

/*2020-6월 11일 오경택 댓글등록버튼 디자인 추가함*/
.comment_button{
  font-size: 100%;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(0,0,0,0);
  color: black;
}

/*textarea 기본출력내용 폰트변경*/
textarea::placeholder{
  font-family: 'Hanna', sans-serif;
  font-size:large ;
}