// @import "../css/jeans_header_.css";

input,
select {
  padding: 6px 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  resize: none;
  font-size: 14px;
}


button {
  width: 80%;
  height: 100%;
  font-size: 1em;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 4px;
  background-color: rgb(52, 152, 219);
  user-select: auto;
  border-color: rgb(52, 152, 219);
}

form{
  height: 100%;
  width: 100%;
}


body {
  .webview {
    // display: flex;
    // flex-flow: column nowrap;
    margin: 0 auto;
    // max-width: 123.5vh; //1200px와 비슷, max-width를해야 뷰포트의 크기에 동적으로 맞춰진다
    // width: 1200px;
    // height: px, vh단위는 부모플렉스에 높이주면 자식이 정렬안된다.
    // %, fr은 허용
    // width: 1200px;
    height: 1150px;


    .jeans_root {
      // order: 0;
      .jeans_header {
        // width: 100%;
        // max-width: 123.5vh;
        // margin-bottom: 20px;
      }
    }
    .header_space {
      // order: 1;
      // 포지션의 속성이 fixed라서 아래태그(body_root)는 상대위치가 안먹는다.
      // fixed가 아닌 가상의 헤더공간을 위치시킨다.
    }

    .body_root {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
      // order: 2;
      background-color: rgb(224, 224, 224);
      height: 100%;
      width: 100%;
      z-index: 4; //헤더는 5
      display: grid;
      // grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) ;
      grid-template-columns: 1fr 1fr;
      // grid-template-columns: 1fr 1fr;
      grid-template-rows: 4fr 4fr 7fr;
      grid-auto-flow: row;
      gap: 4%;
      padding: 2.5% 2.5% 2.5% 2.5%;
      box-sizing: border-box;
      // 패딩으로 늘어난 박스크기를 원래크기만큼 줄여줌

      .changePW {
        background-color: white;
        grid-column: span 2;
        .changePW_1 {
          margin: 0;
          .changePW_1_1 {
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: repeat(16, 1fr);
            grid-template-rows: repeat(3);
            //justify-items: center;
            gap: 10% 2%;
            padding: 2.5%;
            box-sizing: border-box;

            .changePW_1_1_1 {
              grid-column: 6 / span 6;
              grid-row: 1 / 2;
              font-size: 2.5em;
              font-weight: bold;
              justify-self: center;
              // margin-top: 5%;
              // margin-bottom: 5%;
            }
            .changePW_1_1_2 {
              grid-column: 3 / span 3;
              grid-row: 2 / 3;
              justify-self: center;
              align-self: center;
              font-size: 1.2em;
              margin-left: 20%;
            }
            .changePW_1_1_3 {
              grid-column: 6 / span 6;
              grid-row: 2 / 3;
            }
            .changePW_1_1_4 {
              grid-column: 3 / span 3;
              grid-row: 3 / 4;
              justify-self: center;
              align-self: center;
              font-size: 1.2em;
              margin-left: 20%;
            }
            .changePW_1_1_5 {
              grid-column: 6 / span 6;
              grid-row: 3 / 4;
            }
            .changePW_1_1_6 {
              grid-column: 12 / span 3;
              grid-row: 3 / 4;
            }
          }
        }
      }

      .changeEmail {
        background-color: white;
        grid-column: span 2;
        .changeEmail_1 {
          margin: 0;
          .changeEmail_1_1 {
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: repeat(16, 1fr);
            grid-template-rows: repeat(3);
            //justify-items: center;
            gap: 10% 2%;
            padding: 2.5%;
            box-sizing: border-box;

            .changeEmail_1_1_1 {
              grid-column: 6 / span 6;
              grid-row: 1 / 2;
              font-size: 2.5em;
              font-weight: bold;
              justify-self: center;
              // margin-top: 5%;
              // margin-bottom: 5%;
            }
            .changeEmail_1_1_2 {
              grid-column: 3 / span 3;
              grid-row: 2 / 3;
              justify-self: center;
              align-self: center;
              font-size: 1.2em;
              // margin-left: 20%;
            }
            .changeEmail_1_1_3 {
              grid-column: 6 / span 3;
              grid-row: 2 / 3;
              width: 120%;
            }
            .changeEmail_1_1_4 {
              grid-column: 9 / span 1;
              grid-row: 2 / 3;
              justify-self: center;
              align-self: center;
              font-size: 1.5em;
              margin-left: 60%;
            }
            .changeEmail_1_1_5 {
              grid-column: 10 / span 2;
              grid-row: 2 / 3;
            }
            .changeEmail_1_1_6 {
              grid-column: 12 / span 3;
              grid-row: 2 / 3;
            }
            .changeEmail_1_1_7 {
              grid-column: 3 / span 3;
              grid-row: 3 / 4;
              justify-self: center;
              align-self: center;
              font-size: 1.2em;
            }
            .changeEmail_1_1_8 {
              grid-column: 6 / span 6;
              grid-row: 3 / 4;
            }
            .changeEmail_1_1_9 {
              grid-column: 12 / span 3;
              grid-row: 3 / 4;
            }
          }
        }
      }

      .changeOther {
        background-color: white;
        .changeOther_1 {
          margin: 0;
          .changeOther_1_1 {
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: repeat(16, 1fr);
            grid-template-rows: repeat(10);
            //justify-items: center;
            gap: 2% 2%;
            padding: 4% 4% 4% 4%;
            box-sizing: border-box;

            .changeOther_1_1_1 {
              grid-column: 1 / span 5;
              grid-row: 1 / 2;
              font-size: 1.1em;
              font-weight: bold;
              align-self: center;
            }
            .changeOther_1_1_2 {
              grid-column: 1 / span 12;
              grid-row: 2 / 3;
            }
            .changeOther_1_1_3 {
              grid-column: 1 / span 7;
              grid-row: 4 / 5;
              font-size: 1.1em;
              font-weight: bold;
              align-self: center;
            }
            .changeOther_1_1_4 {
              grid-column: 9 / span 5;
              grid-row: 4 / 5;
              font-size: 1.1em;
              font-weight: bold;
              align-self: center;
            }
            .changeOther_1_1_5 {
              grid-column: 1 / span 1;
              grid-row: 5 / 6;
            }
            .changeOther_1_1_6 {
              grid-column: 2 / span 2;
              grid-row: 5 / 6;
              font-size: 1em;
              font-weight: lighter;
              align-self: flex-end;
            }
            .changeOther_1_1_7 {
              grid-column: 4 / span 1;
              grid-row: 5 / 6;
            }
            .changeOther_1_1_8 {
              grid-column: 5 / span 2;
              grid-row: 5 / 6;
              font-size: 1em;
              font-weight: lighter;
              align-self: flex-end;
            }
            .changeOther_1_1_9 {
              grid-column: 9 / span 1;
              grid-row: 5 / 6;
              
            }
            .changeOther_1_1_10 {
              grid-column: 10 / span 2;
              grid-row: 5 / 6;
              font-size: 1em;
              font-weight: lighter;
              align-self: flex-end;
            }
            .changeOther_1_1_11 {
              grid-column: 12 / span 1;
              grid-row: 5 / 6;
            }
            .changeOther_1_1_12 {
              grid-column: 13 / span 2;
              grid-row: 5 / 6;
              font-size: 1em;
              font-weight: lighter;
              align-self: flex-end;
            }
            .changeOther_1_1_13 {
              grid-column: 1 / span 1;
              grid-row: 7 / 8;
              font-size: 1.1em;
              font-weight: bold;
              align-self: center;
            }
            .changeOther_1_1_14 {
              grid-column: 9 / span 3;
              grid-row: 7 / 8;
              font-size: 1.1em;
              font-weight: bold;
              align-self: center;
            }
            .changeOther_1_1_15 {
              grid-column: 1 / span 3;
              grid-row: 8 / 9;
            }
            .changeOther_1_1_16 {
              grid-column: 4 / span 2;
              grid-row: 8 / 9;
            }
            .changeOther_1_1_17 {
              grid-column: 9 / span 3;
              grid-row: 8 / 9;
            }
            .changeOther_1_1_18 {
              grid-column: 12 / span 2;
              grid-row: 8 / 9;
            }
            .changeOther_1_1_19 {
              grid-column: 13 / span 4;
              grid-row: 10 / 11;
            }
          }
        }
      }

      .changePict {
        background-color: white;
        .changePict_1 {
          margin: 0;
          .changePict_1_1 {
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 8fr 1fr;
            //justify-items: center;
            gap: 2% 2%;
            padding: 4% 4% 4% 4%;
            box-sizing: border-box;

            .changePict_1_1_1{
              grid-column: 1 / 2;
              grid-row: 1 / 2;
              font-size: 1.1em;
              font-weight: bold;
              align-self: center;
            }
            .changePict_1_1_2{
              grid-column: 2 / -1;
              grid-row: 1 / -1;
              background-color:  rgb(224, 224, 224);
            }
            .changePict_1_1_3{
              grid-column: 1 / 2;
              grid-row: 2 / 3;
              input{
                height: 80%;
              }
            }
            .changePict_1_1_4{
              grid-column: 1 / 2;
              grid-row: 3 / -1;
              button{
                margin-left: 30%;
                width:  40% ;
                height: 80%;
              }
            }
      

          }
        }
      }
    }
  }
}
