body {
  .webview {
    width: 90%;
    .jeans_root {
      .jeans_header {
      }
    }
    .header_space {
    }

    //본문시작
    .body_root {
      .body_lookupload {
        width: 1100px;
        height: 550px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        display: grid;
        grid-template-columns: 620px 440px;
        grid-template-rows: 10px 40px 35px 35px 370px 50px;
        font-size: 16px;
        row-gap: 2px;
        background-color: rgb(224, 224, 224);

        .boardTitle{
          margin-left: 20px;
        }
        .name {
          margin-left: 20px;
          display: flex;
          .title {
            font-size: 20px;
            margin-left: 20px;
          }
        }
        .upload {
          margin-left: 20px;
          display: flex;
          .selector {
            display: inline-block;
            position: relative;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 30%;
            height: 35px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-color: #838383;
            background-color: #efefef;
            text-align: center;
            line-height: 35px;
            margin-right: 5%;
            .attachButton {
              display: none;
            }
            .selector_span {
              margin: auto;
              text-align: center;
              border-width: 1px 1px 1px 1px;
            }
            input[type="file"] {
              .resetButton {
              }
            }
          }
        }
        .img_space {
          width: 90%;
          height: 400px;
          margin-left: 20px;
          margin-top: -7%;
        }
        .upload_right {
          width: 440px;
          height: 350px;
          display: grid;
          grid-template-columns: 80px 310px 50px;
          grid-template-rows: 40px 40px 40px 40px 75px 75px;
          row-gap: 10px;
          line-height: 40px;
          .mood_wrap {
            display: flex;
            flex-flow: row wrap;
            width: 300px;
            height: 70px;
            .mood_label {
              width: 90px;
              height: max-content;
              margin-right: 3%;
            }
          }
          .tag {
            margin-top: 34px;
          }
          .memo {
            margin-top: 34px;
          }
        }
      }
    }
  }
}

.upload_right {
  width: 440px;
  height: 350px;
  display: grid;
  grid-template-columns: 80px 310px 50px;
  grid-template-rows: 40px 40px 40px 40px 75px 75px;
  row-gap: 10px;
  line-height: 40px;
}
.tag {
  line-height: 30px;
}
.Jeans_bule {
  color: #92cef4;
}
.input_name {
  border: none;
  width: 200px;
  height: 20px;
}
.input_basic {
  border: none;
  width: 300px;
  height: 30px;
}
// .input_tag {
//   border: none;
//   width: 300px;
//   height: 70px;
//   resize: none;
// }
.input_memo {
  border: none;
  width: 300px;
  height: 130px;
  resize: none;
}
.save {
  display: flex;
  justify-content: flex-end;
}
.save_button {
  background-color: #92cef4;
  color: white;
  font-size: 15px;
  border-radius: 5%;
  border: 1px #92cef4;
  width: 80px;
  height: 40px;
  margin-right: 20px;
}
