@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap");

input {
  padding: 6px 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  resize: none;
  font-size: 14px;
}

body {
  .webview {
    // width: 61.8%;
    width: 100%;
    .jeans_root {
      .jeans_header {
      }
    }
    .header_space {
    }

    //룩 상세보기
    .body_root {
      font-size: 15px;
      // display: flex;
      // flex-flow: column nowrap;
      // margin: 0 auto;
      // align-content: flex-end;

      //글 본문
      .body_look {
        display: -ms-grid;
        display: grid;
        width: 100%;
        height: 670px;
        margin-left: auto;
        margin-right: auto;
        grid-template-rows: 20fr 20fr 400fr 100fr 30fr;
        grid-template-columns: 90fr 410fr 600fr;
        row-gap: 8px;
        background-color: #e0e0e0;
        .view_textarea {
          width: 90.9%;
          margin-left: 4.55%;
          margin-right: 4.55%;
          height: 100px;
          resize: none;
          // border: 1.5px solid;
          border: none;
          font-family: Georgia;
          font-size: x-large;
          //border-color: white;
          background-color: #f7f1e3;
        }
        & > :nth-child(1) {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
        }
        & > :nth-child(2) {
          -ms-grid-row: 1;
          -ms-grid-column: 2;
        }
        & > :nth-child(3) {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
        }
        & > :nth-child(4) {
          -ms-grid-row: 3;
          -ms-grid-column: 1;
        }
        & > :nth-child(5) {
          -ms-grid-row: 3;
          -ms-grid-column: 2;
        }
        & > :nth-child(6) {
          -ms-grid-row: 3;
          -ms-grid-column: 3;
        }
        & > :nth-child(7) {
          -ms-grid-row: 5;
          -ms-grid-column: 1;
        }
        & > :nth-child(8) {
          -ms-grid-row: 5;
          -ms-grid-column: 2;
        }
        & > :nth-child(9) {
          -ms-grid-row: 5;
          -ms-grid-column: 3;
        }
        & > :nth-child(10) {
          -ms-grid-row: 7;
          -ms-grid-column: 1;
        }
        & > :nth-child(11) {
          -ms-grid-row: 7;
          -ms-grid-column: 2;
        }
        & > :nth-child(12) {
          -ms-grid-row: 7;
          -ms-grid-column: 3;
        }
        & > :nth-child(13) {
          -ms-grid-row: 9;
          -ms-grid-column: 1;
        }
        & > :nth-child(14) {
          -ms-grid-row: 9;
          -ms-grid-column: 2;
        }
        & > :nth-child(15) {
          -ms-grid-row: 9;
          -ms-grid-column: 3;
        }
      }
      //end of 글본문

      //댓글작성
      .writeComment {
        .look_comment {
          margin-top: 10px;
          display: -ms-grid;
          display: grid;
          width: 100%;
          height: 180px;
          margin-left: auto;
          margin-right: auto;
          grid-template-rows: 40px 80px 30px;
          grid-template-columns: 70fr 100fr 930fr;
          row-gap: 10px;
          background-color: #e0e0e0;
          & > :nth-child(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
          }
          & > :nth-child(2) {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
          }
          & > :nth-child(3) {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
          }
          & > :nth-child(4) {
            -ms-grid-row: 3;
            -ms-grid-column: 1;
          }
          & > :nth-child(5) {
            -ms-grid-row: 3;
            -ms-grid-column: 2;
          }
          & > :nth-child(6) {
            -ms-grid-row: 3;
            -ms-grid-column: 3;
          }
          & > :nth-child(7) {
            -ms-grid-row: 5;
            -ms-grid-column: 1;
          }
          & > :nth-child(8) {
            -ms-grid-row: 5;
            -ms-grid-column: 2;
          }
          & > :nth-child(9) {
            -ms-grid-row: 5;
            -ms-grid-column: 3;
          }
          .other_people_img {
            margin-left: 10px;
            margin-top: 10px;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-row: 1/2;
          }
          .other_people_name {
            margin-top: 10px;
            line-height: 45px;
            width: max-content;
            font-family: "Jua", sans-serif;

          }
          .right_etc {
            text-align: right;
            img {
              padding-top: 20px;
              padding-right: 10px;
            }
          }
          .comment_textarea_space {
            margin-top: 10px;
            -ms-grid-column: 1;
            -ms-grid-column-span: 3;
            grid-column: 1/4;
            .comment_textarea {
              width: 90.9%;
              height: 100%;
              margin-left: 4.55%;
              margin-right: 4.55%;
              resize: none;
              border: 0;
            }
          }

          .re_comment {
            margin-top: 10px;
            text-align: center;
            grid-column: 1/3;
          }
          .comment_date {
            margin-top: 10px;
            grid-column: 3/4;
            text-align: right;
            padding-right: 10px;
            .comment_button {
              font-size: 100%;
              border-radius: 5px;
              border: 1px solid #000;
              background-color: transparent;
              color: #000;
            }
          }
        }
      }

      //end of 댓글작성

      //댓글목록
      ul.comment-list {
        box-sizing: border-box;
        li.look_comment {
          padding: 15px 0;
          box-sizing: border-box;
          border-top: 3px solid #ebebeb;
          list-style: none;
          .look_comment_wrap {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;

            .comment_left {
              max-width: 52px;
              flex-grow: 10;
              height: 100%;
              .profile_img {
                width: 45px;
                max-height: 60px;
              }
            }
            .comment_center {
              flex-grow: 90;
              width: auto;
              height: max-content;
              padding-left: 2%;
              .comment_center_header {
                span.other_people_name {
                  font-family: "Jua", sans-serif;
                  font-weight: 400;
                }
                .right_etc{
                  display: inline;
                  float: right;
                  img{
                    height: 20px;
                    width: 20px;
                  }
                }

              }
              .comment_center_textarea {
                padding-top: 5px;
                height: auto;
                .view_comment_textarea {
                  font-family: "Gothic A1", sans-serif;
                  font-size: large;
                  overflow: hidden;
                  max-height: max-content;
                  min-height: 20px;
                  width: 100%;
                  resize: none;
                  border: 0;
                  background-color: white;
                }
              }
              .comment_center_footer {
                padding-top: 5px;
                width: auto;
                height: auto;
                span {
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }

      //end of 댓글목록

    }
    //end of 룩 상세보기
  }
}

//아래 스타일은 어디 태그에 들어있는지 모르지만 호출되고 있기 때문에 남겨둬야됨.
// .view_comment_textarea {
//   width: 1000px;
//   height: 80px;
//   resize: none;
//   margin-left: 50px;
//   margin-right: 50px;
//   border: 1.5px solid;
// }

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.name,
.title {
  margin-left: -20px;
}
.title {
  font-weight: 700;
  font-size: 20px;
}
.name {
  margin-top: 10px;
}

.write_date {
  font-weight: 700;
  margin-top: 10px;
  padding-right: 10px;
  text-align: right;
}

.my_img {
  margin-top: 10px;
  margin-left: 10px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.delete {
  text-align: right;
  margin-right: 10px;
  margin-top: 5px;
}
.look_img_in {
  text-align: center;
  margin: 0 auto;
}
.look_img_file {
  float: center;
  height: 400px;
  width: 300px;
  line-height: 400px;
}
.look_textarea_space {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
.look_textarea {
  width: 90.9%;
  height: 100%;
  resize: none;
  margin-left: 4.5%;
  margin-right: 4.5%;
  border: 0;
}
.like {
  display: flex;
}
.heart_img {
  margin-left: 10px;
  margin-top: 10px;
  height: 30px;
  width: 30px;
}
.like_number {
  margin-top: 10px;
  line-height: 30px;
  margin-left: 12px;
}
.views {
  font-family: Impact;
  display: flex;
  text-align: right;
  line-height: 50px;
  overflow: visible;
}
.view_icon {
  margin-left: 40px;
  margin-top: 13px;
}
.look_tag {
  font-weight: 700;
  margin-top: 10px;
  text-align: right;
  margin-right: 10px;
}

.child_comment_change_button {
  margin-right: 10px;
  font-size: 100%;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}
textarea {
  &::-moz-placeholder {
    font-family: "Gothic A1", sans-serif;
    font-size: large;
  }
  &::placeholder {
    font-family: "Gothic A1", sans-serif;
    font-size: large;
  }
}
textarea:-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: "Gothic A1", sans-serif;
  font-size: large;
}