<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeans.ko.Dao.IPretreatmentDao">
    <insert id="insertUser">
        insert into pretreatment(userid) values(#{userid});
    </insert>

    <update id="upMinimal">
        update pretreatment set minimal=minimal+1 where userid=#{userid}
    </update>

    <update id="upStreet">
        update pretreatment set street=street+1 where userid=#{userid}
    </update>

    <update id="upCasual">
        update pretreatment set casual=casual+1 where userid=#{userid}
    </update>

    <update id="upGrunge">
        update pretreatment set grunge=grunge+1 where userid=#{userid}
    </update>

    <update id="upCityboy">
        update pretreatment set cityboy=cityboy+1 where userid=#{userid}
    </update>

    <update id="upTechwear">
        update pretreatment set techwear=techwear+1 where userid=#{userid}
    </update>

    <update id="upWorkwear">
        update pretreatment set workwear=workwear+1 where userid=#{userid}
    </update>

    <update id="upAmekaji">
        update pretreatment set amekaji=amekaji+1 where userid=#{userid}
    </update>

    <update id="upMilitary">
        update pretreatment set military=military+1 where userid=#{userid}
    </update>
</mapper>